---
layout: basic.hbs
---

<section class="apps">
  <h2>The Apps</h2>
  <div class="apps">
    {{#each collections.app}}
    <a class="app" href="{{ this.url }}">
      <img class="icon" src="{{ this.data.icon }}" />
      <span class="title">{{ this.data.title }}</span>
    </a>
    {{/each}}
  </div>
</section>
