---
site: irradiated.net
copyright: © Irradiated Apps
---

<!DOCTYPE html>
<html>
  <head>
    <title>{{ site }}{{#if title}} - {{ title }}{{/if}}</title>
    <link rel="stylesheet" href="normalize.css" />
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <header></header>
    <nav></nav>
    <main>{{{ content }}}</main>
    <footer>
      {{ copyright }}
    </footer>
  </body>
</html>
