---
title: irradiated.net
copyright: © Irradiated Apps
---

<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="normalize.css" />
    <link rel="stylesheet" href="main.css" />
  </head>

  <body>
    <header></header>
    <nav></nav>
    <main>{{{ content }}}</main>
    <footer>
      {{ copyright }}
    </footer>
  </body>
</html>
