:root {
  --yellow-color: rgb(255, 209, 22);
}

body {
  background-color: #171717;
  color: white;

  /* Suggested here: https://github.com/necolas/normalize.css/issues/665 */
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

  /* Suggested here: https://learnui.design/blog/mobile-desktop-website-font-size-guidelines.html */
  font-size: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: rgb(170, 170, 170);
  text-decoration: none;
}

a:hover {
  color: var(--yellow-color);
  text-shadow: 0 0 10px rgba(255, 209, 22, 0.6);
}

header,
main,
footer {
  text-align: center;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 40px;
}

header h1 {
  margin: 0;
  margin-left: 12px;
}

nav {
  margin: 20px 0;
  margin-bottom: 40px;
}

nav a {
  margin: 0 20px;
}

footer {
  margin-top: 40px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.7em;
}

/* Apps Page */

section.apps {
  display: flex;
  flex-direction: column;
}

div.apps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

a.app {
  margin: 20px;
  min-width: 140px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

a.app img.icon {
  width: 128px;
  height: 128px;
}

a.app span.title {
  margin-top: 10px;
}
