body {
  background-color: #171717;
  color: white;

  /* Suggested here: https://github.com/necolas/normalize.css/issues/665 */
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

  /* Suggested here: https://learnui.design/blog/mobile-desktop-website-font-size-guidelines.html */
  font-size: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

header,
main,
footer {
  width: 800px;
  text-align: center;
}

footer {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.7em;
}
